# USAGov Hub
# min   hour    day     month   weekday command
*       *       *       *       *       wget --no-check-certificate -O - -q -t 1 --timeout=120 --max-redirect 0 https://$HOST_CMP/cron.php?cron_key=$CRON_KEY
# &2>1 >> /proc/self/fd/2
