.report-tree ul {
    list-style: none !important;

}
.view-display-id-summarized_report_page li {
    background-position: 0 1px;
    background-repeat: no-repeat;
    margin-bottom: 10px;
}
.report-tree a {

}

.report-tree .collapsable {
    background-image: url(images/tv-collapsable.gif);
}

.report-tree .expandable {
    background-image: url(images/tv-expandable.gif);
}